<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% block css %}
    {% endblock css %}
    <title>{% block tabtitle %}{% endblock tabtitle %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Coder</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/blog">Blog</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for category in categories %}
                    <li><form action="/category/{{category.id}}/" method="post" style="display:flex; flex-direction:row; width:30vw">
                    {% csrf_token %}
                    <img src="/media/{{category.img}}" class="img-thumbnail" style="width: 15vw;" alt="...">
                    <button  class="dropdown-item">{{category.title}}</a>
                  </form></li>
                  {% endfor %}
                  
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="contactUs">Contact us</a>
              </li>
            </ul>
            <form method="POST" action="search" class="d-flex">
                {% csrf_token %}
              <input class="form-control me-2" name="searchbox" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
               <h5 style="color: white;" class="mx-2">Hello {{request.user}}</h5>
               <form  class="d-flex mx-2" method="POST" action="logoutPage">
              {% csrf_token %}
              <button class="btn btn-outline-success" type="submit">Logout</button>
            </form> 
            {% else %}
              <form  class="d-flex mx-2" method="POST" action="/loginPage/">
              {% csrf_token %}
              <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
            <form class="d-flex" method="POST" action="/signupPage/">
              {% csrf_token %}
              <button class="btn btn-outline-success" type="submit">Sign up</button>
            </form>
            {% endif %}
            
          </div>
        </div>
      </nav>


    {% block body %}{% endblock body %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <footer class="container-fluid bg-dark my-0 py-3"style="background-color: black;color:white;text-align:center;">
      <p><span>&copy;</span>All copyright revserved by Aman saxena</p>
    </footer>
    
  </body>
</html>